.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: $backdrop-bg;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
  }