$viewport_tablet: 991px;
$viewport_mobile: 767px;
.img-thumbnail-custom {
  width: 50%;
  @media (max-width: $viewport_tablet) {
    width: 100%;
  }
}
.border-box-custom {
  box-shadow: 0.5px 0.5px 6px rgba(183, 195, 203, 0.9);
  border-radius: 10px;
  padding: 10px;
}
