$viewport_tablet: 991px;
$viewport_mobile: 767px;
.media-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.media {
  margin-bottom: 20px;
  img {
    width: 120px;
    @media (max-width: $viewport_tablet) {
      max-width: 64px;
    }
  }
}